// Poppins
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Regular.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Bold.woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Italic.woff');
  font-weight: normal;
  font-style: italic;
}

// Crimson
@font-face {
  font-family: 'Crimson';
  src: url('../fonts/Crimson/CrimsonText-Regular.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson';
  src: url('../fonts/Crimson/CrimsonText-Bold.woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson';
  src: url('../fonts/Crimson/CrimsonText-Italic.woff');
  font-weight: normal;
  font-style: italic;
}
